{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block stylesheets %}
	<style>
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #f39c12;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			/* background:rgba(5, 85, 35, 0.64); */
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #006239 !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0 !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #006239 !important;
			height: 100%;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0 !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container h-100">
		<div class="my-3 text-white my-3">vv</div>

		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="{{ asset('images/caf-logo.png') }}" alt="CAF 2025" style="height: 150px;">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					{{ form_errors(registrationForm) }}
					{{ form_start(registrationForm) }}

					<!-- Nom & Prénom sur la même ligne -->
					<div class="row mb-3">
						<div class="col">
							<label>{{ form_label(registrationForm.nom) }}</label>
							{{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col">
							<label>{{ form_label(registrationForm.prenom) }}</label>
							{{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<!-- Email sur la ligne suivante -->
					<div class="mb-3">
						<label>{{ form_label(registrationForm.email) }}</label>
						{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
					</div>

					<!-- Mot de passe -->
					<div class="mb-3">
						<label>{{ form_label(registrationForm.plainPassword) }}</label>
						{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="d-flex justify-content-center mt-3 login_container">
						<button name="button" class="btn login_btn" type="submit">Créer mon compte</button>
					</div>

					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
