{% extends 'admin/admin_base.html.twig' %}

{% block title %}Stade index
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header bg-dark text-white d-flex  justify-content-between">
			<div>
				<i class="fa-solid fa-landmark"></i>
				Les stades

			</div>
			<a class="text-white btn" href="{{ path('app_stade_new') }}">Nouveau</a>

		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Ville</th>
						<th>Capacite</th>
						<th class="text-center">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for stade in stades %}
						<tr>
							<td>{{ stade.nom }}</td>
							<td>{{ stade.ville }}</td>
							<td>{{ stade.capacite }}</td>
							<td class="d-flex justify-content-center">
								<a href="{{path('app_stade_edit', {'id': stade.id})}}" class="btn btn-warning btn-sm">✏️ Modifier</a>
                                    {% include 'stade/_delete_form.html.twig' %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
