{% extends 'admin/admin_base.html.twig' %}

{% block title %}CAN 2025 | Admin
{% endblock %}

{% block content %}

	<!-- CONTENT -->
	<!-- DASHBOARD STATS -->
		<div class="row"> <div class="col-md-3">
			<div class="card text-white bg-primary mb-3">
				<div class="card-body">
					<h5 class="card-title">{{ teams|length }}
						Équipes</h5>
					<p class="card-text">Nombre total d'équipes inscrites</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-success mb-3">
				<div class="card-body">
					<h5 class="card-title">{{ matches|length }}
						Matchs</h5>
					<p class="card-text">Nombre total de matchs programmés</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-warning mb-3">
				<div class="card-body">
					<h5 class="card-title">+
						<strong>{{ billets }}</strong>
						Billets vendus dès le début 
																													de la compétition</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-danger mb-3">
				<div class="card-body">
					<h5 class="card-title">{{ stades|length }}
						Stades</h5>
					<p class="card-text">Lieux des matchs de la compétition</p>
				</div>
			</div>
		</div>
	</div>

	<!-- TABLEAU DES PROCHAINS MATCHS -->
	<div class="card mt-4">
		<div class="card-header bg-dark text-white">
			📅 Prochains Matchs
		</div>
		<div class="card-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Équipe 1</th>
						<th>Équipe 2</th>
						<th>Stade</th>
						<th>Heure</th>
					</tr>
				</thead>
				<tbody>
					{% for match in prochainsMatchs %}
						<tr>
							<td>
								<span>
									<b>{{ match.date|date('d M Y') }}</b>
								</span>
							</td>
							<td>
								<img src="{{ asset('uploads/logos/' ~ (match.team1.logo ?: 'can_logo.png')) }}" alt="caf image" class="img-fluid" style="height: 50px; object-fit: contain; margin-right: 10px;">
							</td>
							<td>
								<img src="{{ asset('uploads/logos/' ~ (match.team2.logo ?: 'can_logo.png')) }}" alt="caf image" class="img-fluid" style="height: 50px; object-fit: contain; margin-right: 10px;">
							</td>
							<td>Stade de <strong>{{ match.stade.nom ?? "N/A" }} </strong> à <strong>{{ match.stade.ville ?? "N/A" }}</strong></td>
							<td>{{ match.date|date('H:i') }}</td>
						</tr>
					{% else %}
						<div class="alert alert danger">
							<h2 class="text-center">
								Aucun match est programmé !</h2>
						</div>
					{% endfor %}
					
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
