{% extends 'admin/admin_base.html.twig' %}

{% block content %}
	<div class="card">
		<div class="card-header d-flex justify-content-between align-items-center mb-3 bg-dark text-white">
			<div>
				📅 Gestion des Matches
			</div>
			<a href="{{path('admin_match_new')}}" class="btn text-white ">➕ Nouveau</a>

		</div>

		<div class="card-body">
			<table class="table table-striped table-hover">
				<thead class="table-dark">
					<tr>
						<th>Équipe 1</th>
						<th>Score</th>
						<th>Équipe 2</th>
						<th>Date</th>
						<th>Stade</th>
						<th>Phase</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for match in matches %}
						<tr>
							<td>{{ match.team1.name }}</td>
							<td>
								<span class="badge bg-primary">
									{{ match.score1 is not null ? match.score1 : '-' }}
									-
									{{ match.score2 is not null ? match.score2 : '-' }}
								</span>
							</td>
							<td>{{ match.team2.name }}</td>
							<td>{{ match.date|date('d/m/Y H:i') }}</td>
							<td>
								{% if match.stade is not null %}
									🏟️
									{{ match.stade.nom }}
									({{ match.stade.ville }})
								{% else %}
									❌
									<span class="text-danger">Aucun stade</span>
								{% endif %}
							</td>
							<td>
								<span class="badge {% if match.phase == 'Finale' %}bg-danger{% elseif match.phase == 'Demi' %}bg-warning{% elseif match.phase == 'Quarts' %}bg-info{% else %}bg-secondary{% endif %}">
									{{ match.phase }}
								</span>
							</td>
							<td class="d-flex justify-content-center">
								<a href="{{ path('admin_match_edit', { id: match.id }) }}" class="btn btn-sm text-warning fs-5">
									<i class="fas fa-edit"></i>
								</a>
								{{ include('matche/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8" class="text-center text-muted">Aucun match enregistré.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<!-- Pagination -->
			{% if totalPages > 1 %}
				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center mt-3">
						{% if currentPage > 1 %}
							<li class="page-item">
								<a class="page-link" href="{{ path('admin_matches_list', { page: currentPage - 1 }) }}">Précédent</a>
							</li>
						{% endif %}

						{% for i in 1..totalPages %}
							<li class="page-item {% if i == currentPage %}active{% endif %}">
								<a class="page-link" href="{{ path('admin_matches_list', { page: i }) }}">{{ i }}</a>
							</li>
						{% endfor %}

						{% if currentPage < totalPages %}
							<li class="page-item">
								<a class="page-link" href="{{ path('admin_matches_list', { page: currentPage + 1 }) }}">Suivant</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}
		</div>
	</div>
{% endblock %}
